@model WebApp.Controllers.EventsController.CollectionDataModel

@{
    ViewData["Title"] = "Index";
}

 <div class="">
  <img class="img " src="~/images/libled.jpg" alt="Website background image" style="height: 125px; width: 100%; display: block;"/>
 </div>

<h3 style="color: #085ca4">Osavõtjad</h3>

<div>
    <h4>
        @Html.DisplayNameFor(model => model.@Event.EventName) : @Html.DisplayFor(model => model.@Event.EventName)
    </h4>
    <h4>
        @Html.DisplayNameFor(model => model.@Event.EventLocation) : @Html.DisplayFor(model => model.@Event.EventLocation)
    </h4>
    <h4>
        @Html.DisplayNameFor(model => model.@Event.EventTime) : @Html.DisplayFor(model => model.@Event.EventTime)
    </h4>
            <h4>
        Osavõtjad : ;
            </h4>

    @if(Model.Persons != null){
        @foreach(var person in Model.Persons)
        {
            <table>
                <tr>
                    <td>Isikukood: </td>
                    <td>
                        @person.PersonalIdentificationCode
                    </td>
                </tr>
                <tr>
                    <td>Eesnimi: </td>
                    <td>
                        @person.FirstName
                    </td>
                </tr>
                <tr>
                    <td>Perekonnanimi: </td>
                    <td>
                        @person.LastName
                    </td>
                </tr>
                <tr>
                    <td>kustuta: </td>
                    <td>
                        vaata
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
            </table>
        }
    }
</div>

@{if(Model.Event.EventTime >= DateTime.UtcNow)
    @using (Html.BeginForm("CreatePerson", "Events", FormMethod.Post))
    {
        <h3 style="color: #085ca4">Osavõtja Lisamine</h3>

        <input asp-for="@Model.IsClientFromCompany" type="radio" name="MyRadioField" value="true" checked />
        <input asp-for="@Model.IsClientFromCompany" type="radio" name="MyRadioField" value="false" />
        
        <table>
            <tr>
                <td>Isikukood: </td>
                <td>
                    @Html.TextBoxFor(m => m.SingularPerson.PersonalIdentificationCode)
                </td>
            </tr>
            <tr>
                <td>Eesnimi: </td>
                <td>
                    @Html.TextBoxFor(m => m.SingularPerson.FirstName)
                </td>
            </tr>
            <tr>
                <td>Perekonnanimi: </td>
                <td>
                    @Html.TextBoxFor(m => m.SingularPerson.LastName)
                </td>
            </tr>
            <tr>
                <td>LisaInformatsioon: </td>
                <td>
                    @Html.TextBoxFor(m => m.SingularPerson.AdditionInformation)
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    @Html.HiddenFor(m => m.Event.Id)
                    @Html.HiddenFor(m => m.Event.EventTime)
                    <input type="submit" value="Lisa"/>
                </td>
            </tr>
        </table>
    }
}


