@model WebApp.Controllers.EventsController.CollectionDataModel

@{
    ViewData["Title"] = "Index";
}

 <div class="">
  <img class="img " src="~/images/libled.jpg" alt="Website background image" style="height: 125px; width: 100%; display: block;"/>
 </div>

<h3 style="color: #085ca4">Osavõtjad</h3>

<div>
    <h4>
        @Html.DisplayNameFor(model => model.@Event.EventName) : @Html.DisplayFor(model => model.@Event.EventName)
    </h4>
    <h4>
        @Html.DisplayNameFor(model => model.@Event.EventLocation) : @Html.DisplayFor(model => model.@Event.EventLocation)
    </h4>
    <h4>
        @Html.DisplayNameFor(model => model.@Event.EventTime) : @Html.DisplayFor(model => model.@Event.EventTime)
    </h4>
    @if (Model.Companies != null)
        {
            <h4>
            Osavõtjad :
            </h4>
            @Html.DisplayFor(model => model.Persons);
        }
</div>

<h3 style="color: #085ca4">Osavõtja Lisamine</h3>

<input asp-for="@Model.IsClientFromCompany" type="radio" name="MyRadioField" value="true" checked />
<input asp-for="@Model.IsClientFromCompany" type="radio" name="MyRadioField" value="false" />
    
    @{
        if (Model.IsClientFromCompany)
        {
            <h1>
                kdsjflkdfjslkfjdl
            </h1>   
        }
    }

@using (Html.BeginForm("CreatePerson", "Events", FormMethod.Post))
{
    <table>
        <tr>
            <td>Isikukood: </td>
            <td>
                @Html.TextBoxFor(m => m.SingularPerson.PersonalIdentificationCode)
            </td>
        </tr>
        <tr>
            <td>Eesnimi: </td>
            <td>
                @Html.TextBoxFor(m => m.SingularPerson.FirstName)
            </td>
        </tr>
        <tr>
            <td>Perekonnanimi: </td>
            <td>
                @Html.TextBoxFor(m => m.SingularPerson.LastName)
            </td>
        </tr>
        <tr>
            <td>LisaInformatsioon: </td>
            <td>
                @Html.TextBoxFor(m => m.SingularPerson.AdditionInformation)
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                @Html.HiddenFor(m => m.Event.Id)
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
}



<!--
<form asp-action="CreatePerson" asp-route-eventId="@Model.Event.Id" asp-route-personalId="@Model.SingularPerson.PersonalIdentificationCode"
      asp-route-firstName="@Model.SingularPerson.FirstName" asp-route-lastName="@Model.SingularPerson.LastName"
      asp-route-additionInformation="@Model.SingularPerson.AdditionInformation">

    <div class="form-group">
        <label asp-for="SingularPerson.PersonalIdentificationCode" class="control-label"></label>
        <input asp-for="SingularPerson.PersonalIdentificationCode" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SingularPerson.FirstName" class="control-label"></label>
        <input asp-for="SingularPerson.FirstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SingularPerson.LastName" class="control-label"></label>
        <input asp-for="SingularPerson.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SingularPerson.AdditionInformation" class="control-label"></label>
        <input asp-for="SingularPerson.AdditionInformation" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>

</form>

-->

