@model App.Domain.Person

@{
    ViewData["Title"] = "Delete";
}

<!-- Banner -->
@await Html.PartialAsync("_BackgroundImage")

<h3>Kas oled kindel, et soovid kustutada inimese ürituse nimekirjast?</h3>
<div>
    <hr />
    <div class="row justify-content-center"> <!-- Vertical alignment -->
        <div class="col-md-4"> <!-- Vertical alignment -->
            <dl class="row">
                <dt class = "col-sm-2">
                    Eesnimi: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.FirstName)
                </dd>
                <dt class = "">
                    Perekonnanimi: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.LastName)
                </dd>
                <dt class = "">
                    Isikukood: 
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.PersonalIdentificationCode)
                </dd>
                <dt class = "">
                    Maksmine:
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.PaymentOption)
                </dd>
                <dt class = "">
                    Lisa informatsioon:
                </dt>
                <dd class = "">
                    @Html.DisplayFor(model => model.AdditionInformation)
                </dd>
            </dl>
            <form asp-action="DeleteConfirmedPerson">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Delete" class="btn btn-danger" /> |
                <a href="~/" onClick="history.go(-1); return false;">Go back</a>
            </form>
        </div>
    </div>
</div>
